<% provide(:title, 'About Us') %>
<h1> About Us </h1>
<p>This is my p and i love my p because pe is ymmy. This is my p and i love my p because pe is 	ymmy. This is my p and i love my p because pe is ymmy. This is my p and i love my p because pe 	is ymmy. This is my p and i love my p because pe is ymmy. This is my p and i love my p because pe is ymmy. This is my p and i love my p because pe is ymmy. This is my p and i love my p because pe is ymmy. 
</p>
	
